@tailwind base;
@tailwind components;
@tailwind utilities;

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal-content {
    background: #fff;
    padding: 20px;
  }
  .modal-header {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .modal-body {
    text-align: center;
  }
  .drawer{
    position: absolute;
    width: 100%;
    padding: 10px 20px;
  }
